NASA_API_KEY=65xre9lez5FTL2BFJKYx1l10jF4PK8MfP8oN4Kxa
PORT=5000
CLIENT_URL=http://localhost:3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_16_char_app_password
SMTP_FROM=AstroSera <your_email@gmail.com>
